.contentcreators {
    font-family: 'Julius Sans One', 'Times New Roman';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.creatorsTable {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}


th, .row {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    margin-right: 3px;
}

th {
    background-color: #f2f2f2;
}

/* tr:nth-child(odd) {
    background-color: #f2f2f2;
} */

.button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 22px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    margin: 5px;
    border-radius: 4px;
}

.button:hover {
    background-color: #2980b9;
}



